<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Northwind All Customers</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            text-align: left;
            padding: 8px;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2; /* Or your desired shade */
        }
    </style>
</head>
<body>
    <img src="../static/sparta_logo.png" alt="SPARTA!" height="100"/>
    <h1>Customers</h1>
    <a href="../static/add_customer_form.html">Add a New Customer</a>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Country</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
            <tr>
                <td>{{ customer.name }}</td>
                <td>{{ customer.city }}</td>
                <td>{{ customer.country }}</td>
                <td>
                    <a href="/delete_customer/{{ customer.id }}">[Delete]</a>
                    <a href="/edit_customer/{{ customer.id }}">[Edit]</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>